.draggable {
    width: 100px;
    height: 100px;

    background-color: #ffff;
    opacity: .7;
    color: #000000;
    padding: 1px;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

/* #drag-me::before {
            content: "#"attr(id);
            font-weight: bold;
        } */

body {
    font-family: sans-serif;
}

input {
    height: 25px;
    width: 250px;
}

.overlay {
    background-color: #000000;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    color: white;
    right: 0px;
    bottom: 0px;
    position: absolute;
    opacity: 0.3;
    margin: 2px;
    text-align: center;
}